/* DECIDER CSS */

body {
	padding-top: 45px;
	background: -webkit-linear-gradient(deepskyblue, white, white);background: linear-gradient(deepskyblue, white, white);
}

#navTitle {
	display: none;
}

header {
	text-align: center;
}

#mainLogo {
	width: 200px;
	margin: 15px auto 0;
	padding: 8.5px 15px;
}

/* DECIDOMATIC OUTER SHELL */
#deviceWrapper {
	position: relative;
	text-align: center;
	background: -webkit-linear-gradient(ivory, white);background: linear-gradient(ivory, white);
	width: 90%;
	max-width: 1000px;
	margin: 25px auto 0;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 25px;
	padding-left: 5px;
	border-radius: 55px 55px 0 0;
	box-shadow: 5px 0 5px rgba(0,0,0,.5) inset, -5px 0 5px rgba(0,0,0,.5) inset, 10px 5px 10px rgba(0,0,0,.5), -10px 5px 10px rgba(0,0,0,.5);
}

#titleDiv {
	text-align: center;
	width: 90%;
	max-width: 850px;
	margin: 0px auto 15px;
	padding: 5px;
	background: -webkit-linear-gradient(15deg, red, white, red, red, red, white, red);background: linear-gradient(75deg, red, white, red, red, red, white, red);
	border-bottom: 1px solid white;
	border-radius: 45px 45px 0 0;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5) inset, -2px 2px 3px rgba(0,0,0,.5) inset;
}

#title {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.25em;
	color: white;
	text-shadow: 2px 2px 1px black;
}

/* DEVICOMATIC CONSOLE */
#device {
	text-align: center;
	width: 90%;
	max-width: 850px;
	margin: 5px auto 15px;
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 5px;
	padding-right: 5px;
	background: -webkit-linear-gradient(15deg, red, white, red, red, red, white, red, red, white);background: linear-gradient(75deg, red, white, red, red, red, white, red, red, white);
	border-bottom: 1px solid white;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5) inset, -2px 2px 3px rgba(0,0,0,.5) inset;
}

button  {
	font-size: 1em;
	color: black;
	margin: 10px;
	padding: 5px;
	border-radius: 15px;
	box-shadow: 2px 0px 3px rgba(0,0,0,.3), 2px 2px 3px rgba(0,0,0,.3), -2px 0px 3px rgba(0,0,0,.3), -2px 2px 3px rgba(0,0,0,.3);
}

button:enabled {
	font-weight: bold;
	background: ivory;
	background: -webkit-radial-gradient(circle, white, dodgerblue, deepskyblue);background: radial-gradient(circle, white, dodgerblue, deepskyblue);
	box-shadow: 1px 1px 5px rgba(0, 0, 255, 0.3), 1px -1px 5px rgba(0, 0, 255, 0.3), -1px 1px 5px rgba(0, 0, 255, 0.3), -1px -1px 5px rgba(0, 0, 255, 0.3);
}

button:disabled {
	background: rgba(0,0,0,0.5);
}

/* COMMENT SECTION */
#comment {
	width: 90%;
	overflow: auto;
	height: 125px;
	line-height: 20px;
	font-size: .9em;
	margin: 20px auto;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-right: 5px;
	background: ivory;
	border-bottom: 1px solid white;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5) inset, -2px 2px 3px rgba(0,0,0,.5) inset;
}

#comment h2 {
	padding-top: 25px;
}

#instructionList {
	list-style: none;
	padding-left: 0px;
}

#instructionList li {
	margin: 10px auto;
}

#goodLuck {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1em;
}

/* QUESTION SECTION */
#questionBorderDiv {
	width: 90%;
	background: -webkit-linear-gradient(grey, lightgrey, lightgrey, white, lightgrey, lightgrey, grey);background: linear-gradient(grey, lightgrey, lightgrey, white, lightgrey, lightgrey, grey);
	margin: 25px auto;
	padding: 2px;
	border: 2px solid black;
	box-shadow: 2px 0px 3px rgba(0,0,0,.3), 2px 2px 3px rgba(0,0,0,.3), -2px 0px 3px rgba(0,0,0,.3), -2px 2px 3px rgba(0,0,0,.3);
}

#question {
	position: relative;
	overflow: hidden;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: .9em;
	letter-spacing: 1px;
	height: 150px;
	width: 95%;
	color: deepskyblue;
	margin: 2px auto;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 7.5px;
	padding-left: 7.5px;
	background: black;
	text-shadow: 1px 1px 2px dodgerblue;
}

#question p {
	margin: 0;
	text-align: left;
}

#question button {
	padding-right: 10px;
	padding-left: 10px;
}

#nightRider {
	position: absolute;
	top: -1px;
	min-height: 100%;
	width: 50px;
	margin: 0 auto;
	background: -webkit-linear-gradient(left, transparent, transparent, transparent, deepskyblue, transparent, transparent, transparent);background: linear-gradient(to right, transparent, transparent, transparent, deepskyblue, transparent, transparent, transparent);
	-webkit-animation: nightRider 2s linear infinite alternate;
	animation: nightRider 2s linear infinite alternate;
}

@-webkit-keyrames nightRider {
	from {left: -15px;}
	to {left: 85%;}
}
@keyframes nightRider {
	from {left: -15px;}
	to {left: 85%;}
}

/* MEASURING DEVICE */
#scale {
	position: relative;
	color: dodgerblue;
	height: 20px;
	width: 90%;
	overflow: hidden;
	max-width: 850px;
	margin: 0 auto 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background: black;
	border: 2px solid darkgrey;
	box-shadow: 2px 0px 3px rgba(0,0,0,.3), 2px 2px 3px rgba(0,0,0,.3), -2px 0px 3px rgba(0,0,0,.3), -2px 2px 3px rgba(0,0,0,.3);
}

#redLine {
	position: absolute;
	left: 50%;
	height: 100%;
	width: 50px;
	margin-left: -25px;
	background: -webkit-linear-gradient(left, transparent, transparent, transparent, transparent, rgba(255,0,0,0.5), red, rgba(255,0,0,0.5), transparent, transparent, transparent, transparent);background: linear-gradient(to right, transparent, transparent, transparent, transparent, rgba(255,0,0,0.5), red, rgba(255,0,0,0.5), transparent, transparent, transparent, transparent);
}

#scale p {
	margin: 0;
}

/* STYLING FOR WORDS AT THE ENDS OF THE MEASURING DEVICE */
#buttonDiv {
	position: relative;
}

#doIt,
#dontDoIt {
	position: absolute;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

#doIt {
	top: -65px;
	left: 0px;
}

#dontDoIt {
	top: -65px;
	right: 0px;
}

#doIt p,
#dontDoIt p {
	font-size: .9em;
	margin: 0;
}

#disclaimer {
	width: 90%;
	margin: 20px auto;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	background: ivory;
	border-bottom: 1px solid white;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5) inset, 2px 2px 3px rgba(0,0,0,.5) inset;
}

#yinYang {
	font-size: 2.5em;
	margin: 0;
}

#goback {
	display: block;
	color: dodgerblue;
	max-width: 150px;
	font-size: 1.25em;
	margin: 10px auto;
	padding: 2.5px 5px 5px; 
	background: black;
	border-radius: 5px;
	box-shadow: .5px .5px 1px black inset, -.5px -.5px 1px black inset, .5px .5px 1px black, -.5px .5px 1px black, .5px -.5px 1px black, -.5px -.5px 1px black, 2px 10px 5px rgba(0, 0, 0, 0.7), -2px 10px 5px rgba(0, 0, 0, 0.7);
}

/* MEDIA QUERRIES */
@media screen and (min-width: 375px) {
	#device {
		background: -webkit-linear-gradient(15deg, red, white, red, red, red, white, red, red, red, red, white);background: linear-gradient(75deg, red, white, red, red, red, white, red, red, red, red, white);
	}
	
	#doIt {
		left: 10px;
	}

	#dontDoIt {
		right: 10px;
	}
}

@media screen and (min-width: 550px) {
	#titleDiv {
		background: -webkit-linear-gradient(25deg, red, white, red, red, red, white, red);background: linear-gradient(65deg, red, white, red, red, red, white, red);
	}
	
	#device {
		background: -webkit-linear-gradient(25deg, red, white, red, red, red, white, red, red, red, white);background: linear-gradient(65deg, red, white, red, red, red, white, red, red, red, white);
	}
	
	#question {
		height: 100px;
	}
	
	#nightRider {
		-webkit-animation-duration: 3s;
		animation-duration: 3s;
	}

	@-webkit-keyframes nightRider {
		from {left: -15px;}
		to {left: 90%;}
	}
	
	@keyframes nightRider {
		from {left: -15px;}
		to {left: 90%;}
	}
	
	#doIt {
		top: -5px;
		left: 25px;
	}

	#dontDoIt {
		right: 25px;
		top: -5px;
	}
	
	#doIt p,
	#dontDoIt p {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 750px) {
	#deviceWrapper {
		border-radius: 115px 115px 0 0;
	}
	
	#titleDiv {
		margin-top: 25px;
		margin-bottom: 25px;
		background: -webkit-linear-gradient(35deg, red, white, red, red, red, white, red);background: linear-gradient(55deg, red, white, red, red, red, white, red);
		border-radius: 100px 100px 0 0;
	}
	
	#title {
		font-size: 3em;
		margin: 25px auto;
	}
	
	#titleDiv p {
		font-size: 1.1em;
	}
	
	#device {
		background: -webkit-linear-gradient(35deg, red, white, red, red, red, white, red, red, red, white);background: linear-gradient(55deg, red, white, red, red, red, white, red, red, red, white);
	}

	#question,
	#comment {
		font-size: 1.25em;
	}
	
	#instructionList li {
		line-height: 25px;
	}
	
	#nightRider {
		-webkit-animation-duration: 4s;
		animation-duration: 4s;
	}

	@-webkit-keyframes nightRider 
		from {left: -15px;}
		to {left: 95%;}
	}
	
	@keyframes nightRider {
		from {left: -15px;}
		to {left: 95%;}
	}
	
	#doIt {
		left: 5%;
	}

	#dontDoIt {
		right: 5%;
	}
	
	#doIt p,
	#dontDoIt p {
		font-size: 1.5em;
	}
	
	#question {
		min-height: 100px;
	}
}

@media screen and (min-width: 850px) {
	#titleDiv {
		background: -webkit-linear-gradient(45deg, red, white, red, red, red, white, red);background: linear-gradient(45deg, red, white, red, red, red, white, red);
	}

	#device {
		background: -webkit-linear-gradient(45deg, red, white, red, red, red, white, red, red, white);background: linear-gradient(45deg, red, white, red, red, red, white, red, red, white);
	}
}

@media screen and (min-width: 1000px) {
	#titleDiv {
		background: -webkit-linear-gradient(45deg, red, white, red, red, red, white, red);background: linear-gradient(45deg, red, white, red, red, red, white, red);
	}

	#device {
		background: -webkit-linear-gradient(45deg, red, white, red, red, red, red, red, white, red, red, red, red, white);background: linear-gradient(45deg, red, white, red, red, red, red, red, white, red, red, red, red, white);
	}
}