/* GRADIENT -- MULTIPLE ORBS CSS */

body {
	text-align: center;
	width: 100%;
}

#navTitle {
	display: none;
}

#body {
	overflow: hidden;
}

a {
	color: dodgerblue;
	text-decoration: none;
	transition-duration: .25s;
	outline: 0;
}

a:hover, a:focus, a:active {
	color: white;
	text-shadow: 1px 1px 2px blue, -1px 1px 2px blue, -1px -1px 4px deepskyblue, 1px -1px 4px deepskyblue;
	transition-duration: .5s;
}

h1 {
	font-weight: 100;
	width: 90%;
	max-width: 1200px;
	margin: 25px auto;
	padding: 5px 7.5px 10px;
	background: rgba(255,255,255,0.5);
	box-shadow: 0 2px 2px white inset, 0 -2px 2px white inset;
}

#randomGradient_2,
#randomGradient_3,
#randomGradient_4,
#randomGradient_5,
#randomGradient_6,
#randomGradient_7,
#randomGradient_8,
#randomGradient_9 {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 15px auto;
}

/* MEDIA QUERIES -- SMALL SCREENS */
@media screen and (min-width: 500px) {
	#body {
		padding-bottom: 35px;
	}

	#orbDiv_L {
		margin-left: 50px;
		width: 150px;
	}
	
	#orbDiv_R {
		position: absolute;
		top: 165px;
		right: 50px;
	}
}